@font-face {
  font-family: "Styrene A";
  src: url("https://dev.allisinc.com/stantonhouse-v1/wp-content/themes/stantonhouse-v1/public/fonts/StyreneA-Medium.woff2")
      format("woff2"),
    url("https://dev.allisinc.com/stantonhouse-v1/wp-content/themes/stantonhouse-v1/public/fonts/StyreneA-Medium.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "LTBrewery";
  src: url("https://dev.allisinc.com/stantonhouse-v1/wp-content/themes/stantonhouse-v1/public/fonts/LinotypeBrewery-Heavy.woff2")
      format("woff2"),
    url("https://dev.allisinc.com/stantonhouse-v1/wp-content/themes/stantonhouse-v1/public/fonts/LinotypeBrewery-Heavy.woff")
      format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: auto;
}

html,
body {
  font-size: 15px;
}
* {
  font-family: "Styrene A", sans-serif !important;
}
a {
  color: #0a0ac8;
  border-bottom-color: #0a0ac8;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 500;
  transition: all 0.5s;
}
a:hover {
  color: #000;
  border-bottom-color: #000;
}
#mainContent {
  padding-right: 0;
}

.reservation-cart-container,
.reservation-cart-container_collapsed {
  padding-left: 0;
  margin-left: -3px;
}
@media (min-width: 1025px) {
  .reservation-cart-container_box.reservation-cart-container_fixed {
    margin-top: 0;
  }
}

.reservation-cart-container_inner,
.search-bar-container_inner,
.product-availability-container_unavailableMessage,
.filter-bar_container .filter-bar_box,
.thumb-cards_cardSplit,
.room-accordion_container,
.guest-policies_container,
.policy-acknowledgement_container {
  border-radius: 0;
}

.search-bar-container_checkIn .search-bar-container_label,
.search-bar-container_checkOut .search-bar-container_label,
.search-bar-container_guests .search-bar-container_label,
.button_link,
.filter-bar-select_container .select_value,
.filter-bar_filterLink span {
  color: #0a0ac8;
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.button_primary {
  background: #0a0ac8;
  color: #fff;
  border: 3px solid #0a0ac8;
  font-family: "LTBrewery", sans-serif !important;
  font-size: 18px;
  letter-spacing: 0.05em;
  font-weight: bold;
}
.button_primary * {
  font-family: "LTBrewery", sans-serif !important;
}

.button_primary:hover {
  background: #000;
  color: #fff;
  border-radius: 0;
}
.button_secondary {
  background: #0a0ac8;
  color: #fff;
  border: 3px solid #0a0ac8;
  border-radius: 0;
}
.button_secondary:hover {
  background: #000;
  color: #fff;
}
.button_link:hover {
  color: #000;
}
.button_link:hover::after,
.button_link:hover::before {
  color: #000;
}
.search-bar-container_inner,
.search-bar-container_advancedSearch,
.filter-bar_container .filter-bar_box,
.thumb-cards_cardSplit,
.reservation-cart-container_inner,
.room-accordion_container,
.guest-policies_container,
.policy-acknowledgement_container,
.product-availability-container_unavailableMessage {
  border-width: 3px;
  border-color: #0a0ac8;
}

html[dir="ltr"] .search-bar-container_checkIn,
html[dir="ltr"] .search-bar-container_checkOut,
html[dir="ltr"] .search-bar-container_guests {
  border-right-width: 3px;
  border-color: #0a0ac8;
}
.search-bar-container_search {
  padding: 0;
}
.search-bar-container_search button {
  height: 60px;
}

.thumb-cards_groupedCards,
.guest-policies_container,
.guest-policies_container {
  padding-top: 0;
  margin-top: -3px;
}

.app_heading1 {
  color: #0a0ac8;
  font-size: 27px;
  font-family: "LTBrewery", sans-serif !important;
  letter-spacing: 0.05em;
  font-weight: bold;
  text-transform: uppercase;
}
.app_subheading2 {
  font-size: 13px;
}

.reservation-cart-container_header {
  text-align: center;
}

.thumb-cards_image {
  border-radius: 0;
}
.guests-and-roomsize_roomProperties {
  text-transform: uppercase;
}
.thumb-cards_cardItem {
  border-top-color: #707070;
}

.price-summary_price,
.price-summary_total,
.price-breakdown_price,
.thumb-cards_price {
  color: #0a0ac8;
  text-transform: uppercase;
}

hr {
  background: #707070;
}

.hero-image_hotelDetails {
  background: #0a0ac8;
  color: #fff;
  max-width: 550px;
  padding: 3em;
}
.hero-image_hotelDetails a {
  color: #fff;
}
.hero-image_hotelName,
.hero-image_phone,
.hero-image_website {
  color: #fff;
}
.hero-image_address::before,
.hero-image_phone::before,
.hero-image_website::before {
  display: none;
}

.hotel-info_active > button,
.hotel-info_active > button:focus,
.hotel-info_active > button:hover,
.hotel-info_active > button:active,
.hotel-info_container > button,
.hotel-info_container > button:focus,
.hotel-info_container > button:hover,
.hotel-info_container > button:active,
.user-bar_findDifferentHotel,
.user-bar_findDifferentHotel:active,
.user-bar_findDifferentHotel:focus,
.user-bar_findDifferentHotel:hover,
.user-bar_phoneNumber,
.user-bar_phoneNumber:active,
.user-bar_phoneNumber:focus,
.user-bar_phoneNumber:hover,
.user-bar_reservationsLink,
.user-bar_reservationsLink:active,
.user-bar_reservationsLink:focus,
.user-bar_reservationsLink:hover {
  color: #0a0ac8;
}
.user-bar_findDifferentHotel:hover,
.user-bar_findDifferentHotel:active:hover,
.user-bar_findDifferentHotel:focus:hover,
.user-bar_findDifferentHotel:hover:hover,
.user-bar_phoneNumber:hover,
.user-bar_phoneNumber:active:hover,
.user-bar_phoneNumber:focus:hover,
.user-bar_phoneNumber:hover:hover,
.user-bar_reservationsLink:hover,
.user-bar_reservationsLink:active:hover,
.user-bar_reservationsLink:focus:hover,
.user-bar_reservationsLink:hover:hover,
.hotel-info_active > button:hover,
.hotel-info_active > button:focus:hover,
.hotel-info_active > button:hover:hover,
.hotel-info_active > button:active:hover,
.hotel-info_container > button:hover,
.hotel-info_container > button:focus:hover,
.hotel-info_container > button:hover:hover,
.hotel-info_container > button:active:hover {
  color: #000;
}

.user-bar_phoneNumber:hover:before {
  color: #0a0ac8;
}

.guest-policies_container {
  padding-top: 1em;
}
.room-accordion_container {
  margin-bottom: 0;
}

.currency-selection_button > button:hover,
.currency-selection_buttonActive > button:hover {
  color: #0a0ac8;
}
.currency-selection_button > button:hover:after,
.currency-selection_buttonActive > button:hover:after {
  color: #0a0ac8;
}
